@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Register.js"></script>
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <span class="small" style="color:red">Register Here!!</span>
            </div>

            <!-- Login Form -->
            <form>
                <input type="text" id="username" class="text-center fadeInDown" name="username" placeholder="UserName">
                <input type="text" id="Email" class="text-center fadeInDown" name="email" placeholder="Email">
                <input type="text" id="Password" class="text-center fadeInDown" name="password" placeholder="password">
                <input type="submit" id="submit" class="fadeIn fourth" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>
