@{
    ViewData["Title"] = "Home Page";
}


    <div class="jumbotron bg-info">
        <div class="text-center">
            <h1 class="display-4">Welcome to Online BookStore!</h1>
            <hr />
            <p>Here you can order books by searching the same from search menu</p>
        </div>
    </div>
